@charset "UTF-8";
:root {
  --primary-bg-color: #fff;
  --second-bg-color: #fbfbfb;
  --button-bg-color: #444;
  --primary-button-title-color: #fff;
  --second-button-title-color: #444;
  --third-button-title-color: #5d5d5d;
  --primary-button-hover-bg-color: #e0dede;
  --second-button-hover-bg-color: #444;
  --second-button-hover-color: #fff;
  --top-bg-color: rgba(255, 255, 255, 0.918);
  --top-nav-bg-color: #fff;
  --phone-top-bottom-color: #ccc;
  --phone-top-nav-bg-color: #fff;
  --phone-top-nav-col-line-color: #444;
  --phone-top-nav-col-title-color: #444;
  --phone-top-nav-col-text-color: #444;
  --primary-burger-icon-bg-color: #444;
  --second-burger-icon-bg-color: #fff;
  --main-between-line-color: #ccc;
  --title-color: #444;
  --subtitle-bg: #5d5d5d;
  --white-title-font-color: #fff;
  --grey-cotainer-bg-color: #333;
  --white-font-color: #fff;
  --cover-background-color: #818cab;
  --border-bottom-color: #e1e1e1;
  --footer-bg-color: #f2f2f2;
  --subject-blue: #177cc4;
  --second-bottom-bg-color: #f7f7f7;
  --second-bottom-color: #444;
  --second-bottom-hover-bg-color: #444;
  --second-bottom-hover-color: #f7f7f7;
  --popup-bg-color: rgba(255, 255, 255, 0.85);
  --select-color: #fff;
  --select-bg-color: #666;
}

[data-theme="dark"] {
  --primary-bg-color: #212121;
  --second-bg-color: #181818;
  --button-bg-color: #313131;
  --primary-button-title-color: #fff;
  --second-button-title-color: #fff;
  --third-button-title-color: #ececec;
  --primary-button-hover-bg-color: rgb(70, 70, 70);
  --second-button-hover-bg-color: rgb(70, 70, 70);
  --second-button-hover-color: #fff;
  --top-bg-color: #181818ea;
  --top-nav-bg-color: #212121;
  --phone-top-bottom-color: #2b2b2b;
  --phone-top-nav-bg-color: #212121;
  --phone-top-nav-col-line-color: #444;
  --phone-top-nav-col-title-color: #fff;
  --phone-top-nav-col-text-color: #fff;
  --primary-burger-icon-bg-color: #fff;
  --second-burger-icon-bg-color: #fff;
  --main-between-line-color: #2b2b2b;
  --title-color: #fff;
  --subtitle-bg: #fbfbfb;
  --white-title-font-color: #fff;
  --grey-cotainer-bg-color: #333;
  --white-font-color: #fff;
  --cover-background-color: #818cab;
  --border-bottom-color: #303030;
  --footer-bg-color: #232323;
  --second-bottom-bg-color: #444;
  --second-bottom-color: #f7f7f7;
  --second-bottom-hover-bg-color: #f7f7f7;
  --second-bottom-hover-color: #444;
  --popup-bg-color: rgba(0, 0, 0, 0.85);
  --subject-blue: #177cc4;
  --select-color: #000000;
  --select-bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: var(-second-bg-color);
}

a {
  text-decoration: none;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 12px;
  right: 12px;
  overflow: hidden;
  width: 43px;
  height: 43px;
  border: none;
  text-indent: 100%;
  z-index: 999;
  background: #282a2b url(../image/totop.png) no-repeat left top;
  background-size: contain;
  border-radius: 0px;
}

#toTopHover {
  background: #282a2b url(image/totop.png) no-repeat left top;
  background-size: contain;
  width: 43px;
  height: 43px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  background-color: var(--second-bg-color);
}

.main__banner {
  background-image: url("image/001.jpg");
  background-size: 100vw;
  width: 100%;
  height: calc(100vw / 3.49);
  background-position: center;
}

.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--primary-bg-color);
  /*
  @media only screen and (min-width: 550px) {
    max-width: calc((225px * 2) + 50px);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  @media only screen and (min-width: 768px) {
    max-width: calc((225px * 2) + 50px);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 1000px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  */
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 720px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    max-width: 980px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    max-width: 1280px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

.main__content {
  padding: 20px 20px 30px;
}

.main__content .admin {
  display: block;
}

.main__content .admin .admin__title__content .admin__title {
  display: block;
  padding: 16px 0 36px 0;
  text-align: center;
  line-height: 55px;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 2em;
}

.main__content .admin .admin__title__content .admin__text {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding-bottom: 36px;
}

.main__content .admin .admin__title__content .admin__content__chooseItem {
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .main__content .admin .admin__title__content {
    padding: 0 30px;
  }
  .main__content .admin .admin__title__content .admin__title,
  .main__content .admin .admin__title__content .admin__text {
    text-align: left;
  }
}

.main__content .admin__content .admin__content__title {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  padding-bottom: 20px;
}

.main__content .admin__content .admin__content__logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content .admin__content .admin__content__logout .admin__content__logout__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid var(--main-between-line-color);
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding: 0 10px;
}

.main__content .admin__content .admin__content__logout .admin__content__logout__btn:hover {
  background-color: var(--primary-button-hover-bg-color);
}

.main__content .admin__content .admin__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__content .admin__content .admin__login .admin__login__title {
  display: block;
  width: 100%;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  padding-bottom: 36px;
}

.main__content .admin__content .admin__login #singUpRedirect {
  cursor: pointer;
  display: block;
  border: 3px solid var(--main-between-line-color);
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding: 0 10px;
}

.main__content .admin__content .admin__login #singUpRedirect:hover {
  background-color: var(--primary-button-hover-bg-color);
}

.main__content .admin__content .admin__content__text {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  padding-top: 36px;
}

.main__content .admin__content .admin__content__chooseItem {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
}

.main__content .admin__content .admin__content__chooseItem:hover {
  color: var(--subject-blue);
  background-color: var(--second-bottom-hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content .admin__choosePage .admin__choosePage__editDatabase .admin__choosePage__editDatabase__title {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  padding-top: 36px;
}

.main__content .admin__choosePage .admin__choosePage__editDatabase .admin__choosePage__editDatabase__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
}

.main__content .admin__choosePage .admin__choosePage__editDatabase .admin__choosePage__editDatabase__item:hover {
  color: var(--subject-blue);
  background-color: var(--second-bottom-hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content .admin__monitor .admin__monitor__title {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  padding-top: 36px;
}

.main__content .admin__monitor .admin__monitor__subtitle {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding-bottom: 36px;
}

.main__content .admin__monitor .admin__monitor__item {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
}

.main__content .admin__monitor .admin__monitor__chooseItem {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
}

.main__content .admin__monitor .admin__monitor__chooseItem:hover {
  color: var(--subject-blue);
  background-color: var(--second-bottom-hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input {
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  border: 1px solid var(--main-between-line-color);
  border-radius: 3px;
  color: var(--title-color);
  font-size: 16px;
}

input:invalid {
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  border: 1px solid red;
  border-radius: 3px;
  color: var(--title-color);
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */