@charset "UTF-8";
:root {
  --primary-bg-color: #fff;
  --second-bg-color: #fbfbfb;
  --button-bg-color: #444;
  --primary-button-title-color: #fff;
  --second-button-title-color: #444;
  --third-button-title-color: #5d5d5d;
  --primary-button-hover-bg-color: #e0dede;
  --second-button-hover-bg-color: #444;
  --second-button-hover-color: #fff;
  --top-bg-color: rgba(255, 255, 255, 0.918);
  --top-nav-bg-color: #fff;
  --phone-top-bottom-color: #ccc;
  --phone-top-nav-bg-color: #fff;
  --phone-top-nav-col-line-color: #444;
  --phone-top-nav-col-title-color: #444;
  --phone-top-nav-col-text-color: #444;
  --primary-burger-icon-bg-color: #444;
  --second-burger-icon-bg-color: #fff;
  --main-between-line-color: #ccc;
  --title-color: #444;
  --subtitle-bg: #5d5d5d;
  --white-title-font-color: #fff;
  --grey-cotainer-bg-color: #333;
  --white-font-color: #fff;
  --cover-background-color: #818cab;
  --border-bottom-color: #e1e1e1;
  --footer-bg-color: #f2f2f2;
  --subject-blue: #177cc4;
  --second-bottom-bg-color: #f7f7f7;
  --second-bottom-color: #444;
  --second-bottom-hover-bg-color: #444;
  --second-bottom-hover-color: #f7f7f7;
  --popup-bg-color: rgba(255, 255, 255, 0.85);
  --select-color: #fff;
  --select-bg-color: #666;
}

[data-theme="dark"] {
  --primary-bg-color: #212121;
  --second-bg-color: #181818;
  --button-bg-color: #313131;
  --primary-button-title-color: #fff;
  --second-button-title-color: #fff;
  --third-button-title-color: #ececec;
  --primary-button-hover-bg-color: rgb(70, 70, 70);
  --second-button-hover-bg-color: rgb(70, 70, 70);
  --second-button-hover-color: #fff;
  --top-bg-color: #181818ea;
  --top-nav-bg-color: #212121;
  --phone-top-bottom-color: #2b2b2b;
  --phone-top-nav-bg-color: #212121;
  --phone-top-nav-col-line-color: #444;
  --phone-top-nav-col-title-color: #fff;
  --phone-top-nav-col-text-color: #fff;
  --primary-burger-icon-bg-color: #fff;
  --second-burger-icon-bg-color: #fff;
  --main-between-line-color: #2b2b2b;
  --title-color: #fff;
  --subtitle-bg: #fbfbfb;
  --white-title-font-color: #fff;
  --grey-cotainer-bg-color: #333;
  --white-font-color: #fff;
  --cover-background-color: #818cab;
  --border-bottom-color: #303030;
  --footer-bg-color: #232323;
  --second-bottom-bg-color: #444;
  --second-bottom-color: #f7f7f7;
  --second-bottom-hover-bg-color: #f7f7f7;
  --second-bottom-hover-color: #444;
  --popup-bg-color: rgba(0, 0, 0, 0.85);
  --subject-blue: #177cc4;
  --select-color: #000000;
  --select-bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: var(-second-bg-color);
}

a {
  text-decoration: none;
}

.PaddingTop {
  line-height: 90px;
}

@media only screen and (max-width: 1024px) {
  .PaddingTop {
    line-height: 60px;
  }
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 12px;
  right: 12px;
  overflow: hidden;
  width: 43px;
  height: 43px;
  border: none;
  text-indent: 100%;
  z-index: 999;
  background: #282a2b url(image/totop.png) no-repeat left top;
  background-size: contain;
  border-radius: 0px;
}

#toTopHover {
  background: #282a2b url(image/totop.png) no-repeat left top;
  background-size: contain;
  width: 43px;
  height: 43px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

.PhoneTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
  width: 100%;
  border-bottom: 3px solid var(--phone-top-bottom-color);
  background-color: var(--primary-bg-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 768px) {
  .PhoneTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .PhoneTop {
    display: none;
  }
}

.PhoneTop .PhoneTop__mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  width: 69px;
  height: 60px;
}

.PhoneTop .PhoneTop__mainnav .PhoneTop__mainnav__icon {
  display: block;
  cursor: pointer;
  margin: 10px 15px;
}

.PhoneTop .PhoneTop__mainnav .bar1,
.PhoneTop .PhoneTop__mainnav .bar2,
.PhoneTop .PhoneTop__mainnav .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--primary-burger-icon-bg-color);
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.PhoneTop .PhoneTop__mainnav .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.PhoneTop .PhoneTop__mainnav .change .bar2 {
  opacity: 0;
}

.PhoneTop .PhoneTop__mainnav .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.PhoneTop .PhoneTop__mainnav .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.PhoneTop .PhoneTop__mainnav__container,
.PhoneTop #PhoneTop__mainnav__container {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left {
  display: block;
  width: 80%;
  height: 100%;
  max-width: 100%;
  background-color: var(--phone-top-nav-bg-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 14px;
  overflow-y: auto;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col {
  width: 100%;
  margin-bottom: 20px;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__title,
.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .admin__content__text,
.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .admin__content__title,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__title,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .admin__content__text,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .admin__content__title {
  font-size: 17px;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  color: var(--phone-top-nav-col-title-color);
  text-align: left;
  padding: 25px 0;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a {
  display: block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  width: 100%;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__language,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__language {
  cursor: pointer;
  font-size: 14px;
  padding: 12px;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  color: var(--phone-top-nav-col-text-color);
  text-align: left;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a:hover,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--subject-blue);
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a__menu, .PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .admin__content__chooseItem,
.PhoneTop .PhoneTop__mainnav__container #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .admin__content__chooseItem, .PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .admin__content__chooseItem,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a__menu,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .admin__content__chooseItem {
  font-size: 14px;
  padding: 12px;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  color: var(--phone-top-nav-col-text-color);
  text-align: left;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .admin__content__chooseItem,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col .admin__content__chooseItem {
  cursor: pointer;
  display: list-item;
  list-style-position: inside;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col__line,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__left .PhoneTop__mainnav__container__col__line {
  width: 1px;
  height: 80%;
  margin: 0 20px;
  background-color: var(--phone-top-nav-col-line-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__shadow,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 20%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.24)));
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 35%, rgba(0, 0, 0, 0.24) 100%);
  z-index: 0;
}

.PhoneTop .PhoneTop__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 60px;
}

.PhoneTop .PhoneTop__logo .PhoneTop__logo__image {
  max-width: 320px;
  max-height: 60px;
  padding: 0 80px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.Top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: var(--top-bg-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top .Top__container {
  max-width: 1280px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 auto;
}

@media only screen and (min-width: 0px) {
  .Top {
    display: none;
  }
  .Top .Top__logo img {
    display: none;
  }
  .Top .Top {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .Top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Top .Top__logo img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Top .Top__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Top__logo {
  margin: 0 auto;
}

.Top__logo img {
  display: none;
  max-width: 100%;
  max-height: 90px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

.Top__nav_container__menu {
  min-width: 283px;
}

.Top__nav_container__menu .Top__nav {
  display: none;
  position: relative;
  z-index: 1;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #5d5d5d;
  height: 38px;
  border-radius: 7px;
}

.Top__nav_container__menu .Top__nav .Top__nav__list {
  height: 24px;
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__left {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  width: 140px;
  list-style: none;
  background-color: var(--button-bg-color);
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  height: 38px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__left .Top__nav__left_subtitle__text,
.Top__nav_container__menu .Top__nav .Top__nav_col__left a {
  cursor: pointer;
  color: var(--third-button-title-color);
}

.Top__nav_container__menu .Top__nav .Top__nav_col__left:hover {
  background-color: var(--subject-blue);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__left:hover .Top__nav__left_title_under {
  display: block;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__left:hover .Top__nav__left_title_under .Top__nav__left_subtitle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__left:hover .Top__nav__left_title_under .Top__nav__left_subtitle:hover {
  color: var(--subject-blue);
  background-color: var(--primary-button-hover-bg-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__left:hover .Top__nav__left_title_under .Top__nav__left_subtitle:hover .ion-android-arrow-dropdown:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__left:hover .Top__nav__left_title_under .Top__nav__left_subtitle .ion-android-arrow-dropdown:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__burger__icon {
  display: inline-block;
  margin-top: -2.6px;
  padding-right: 0.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__burger__icon .bar1,
.Top__nav_container__menu .Top__nav .Top__nav_col__burger__icon .bar2,
.Top__nav_container__menu .Top__nav .Top__nav_col__burger__icon .bar3 {
  width: 14px;
  height: 2px;
  background-color: var(--second-burger-icon-bg-color);
  margin-top: 2.6px;
  border-radius: 2px;
}

.Top__nav_container__menu .Top__nav .Top__nav__left_title_under {
  display: none;
  padding-top: 15px;
}

.Top__nav_container__menu .Top__nav .Top__nav__left_title_under ::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--border-bottom-color);
  -webkit-transform: translateY(680%);
          transform: translateY(680%);
}

.Top__nav_container__menu .Top__nav .Top__nav__left_title {
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  color: var(--primary-button-title-color);
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav__left_subtitle {
  width: 270px;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
  padding-left: 20px;
  color: var(--primary-button-title-color);
  border: 1px solid var(--main-between-line-color);
  background-color: var(--top-nav-bg-color);
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav__left_subtitle .ion-android-arrow-dropdown {
  line-height: inherit;
  padding-right: 5px;
}

.Top__nav_container__menu .Top__nav .Top__nav__left_subtitle .ion-android-arrow-dropdown ::before {
  content: "\f35f";
}

.Top__nav_container__menu .Top__nav .Top__nav_col__right {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  width: 70px;
  list-style: none;
  height: 34px;
  border-top: 2px solid var(--button-bg-color);
  border-right: 2px solid var(--button-bg-color);
  border-bottom: 2px solid var(--button-bg-color);
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__right .Top__nav__right_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
  padding-left: 20px;
  color: var(--third-button-title-color);
  border: 1px solid var(--main-between-line-color);
  background-color: var(--top-nav-bg-color);
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__right:hover {
  border-top: 2px solid var(--primary-button-hover-bg-color);
  border-right: 2px solid var(--primary-button-hover-bg-color);
  border-bottom: 2px solid var(--primary-button-hover-bg-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__right:hover .Top__nav__right_title_under {
  display: block;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__right:hover .Top__nav__right_title_under .Top__nav__right_subtitle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__right__burger__icon {
  display: inline-block;
  margin-top: -2.6px;
  padding-right: 0.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__menu .Top__nav .Top__nav_col__right__burger__icon .bar1,
.Top__nav_container__menu .Top__nav .Top__nav_col__right__burger__icon .bar2,
.Top__nav_container__menu .Top__nav .Top__nav_col__right__burger__icon .bar3 {
  width: 14px;
  height: 2px;
  background-color: var(--primary-burger-icon-bg-color);
  margin-top: 2.6px;
  border-radius: 2px;
}

.Top__nav_container__menu .Top__nav .Top__nav__right_title_under {
  display: none;
  position: absolute;
  padding-top: 17px;
  right: 0px;
}

.Top__nav_container__menu .Top__nav .Top__nav__right_title {
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 37px;
  color: var(--second-button-title-color);
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__language {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  min-width: 283px;
}

.Top__nav_container__language__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
}

.Top__nav_container__language__topLogOutbtn__logout,
.function__bar,
.function__bar__alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 45px;
  margin-left: 20px;
}

.Top__nav_container__language__topLogOutbtn__logout .Top__nav_container__language__topLogOutbtn__logout__btn,
.Top__nav_container__language__topLogOutbtn__logout .function__bar__btn,
.Top__nav_container__language__topLogOutbtn__logout .function__bar__alert .function__bar__btn__alert,
.function__bar__alert .Top__nav_container__language__topLogOutbtn__logout .function__bar__btn__alert,
.function__bar .Top__nav_container__language__topLogOutbtn__logout__btn,
.function__bar__alert .Top__nav_container__language__topLogOutbtn__logout__btn,
.function__bar .function__bar__btn,
.function__bar__alert .function__bar__btn,
.function__bar__alert .function__bar__btn__alert {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid var(--main-between-line-color);
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding: 0px 10px;
}

.Top__nav_container__language__topLogOutbtn__logout .Top__nav_container__language__topLogOutbtn__logout__btn:hover,
.Top__nav_container__language__topLogOutbtn__logout .function__bar__btn:hover,
.Top__nav_container__language__topLogOutbtn__logout .function__bar__alert .function__bar__btn__alert:hover,
.function__bar__alert .Top__nav_container__language__topLogOutbtn__logout .function__bar__btn__alert:hover,
.function__bar .Top__nav_container__language__topLogOutbtn__logout__btn:hover,
.function__bar__alert .Top__nav_container__language__topLogOutbtn__logout__btn:hover,
.function__bar .function__bar__btn:hover,
.function__bar__alert .function__bar__btn:hover,
.function__bar__alert .function__bar__btn__alert:hover {
  background-color: var(--primary-button-hover-bg-color);
}

.function__bar__alert {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.function__bar__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding: 0px 10px;
}

body {
  overflow-x: hidden;
  background-color: var(--second-bg-color);
}

.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--primary-bg-color);
  /*
  @media only screen and (min-width: 550px) {
    max-width: calc((225px * 2) + 50px);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  @media only screen and (min-width: 768px) {
    max-width: calc((225px * 2) + 50px);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 1000px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  */
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 720px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    max-width: 980px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    max-width: 1280px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

.main__content {
  padding: 20px 20px 30px;
}

.main__content .admin {
  display: block;
}

.main__content .admin .admin__title__content .admin__title {
  display: block;
  padding: 16px 0 36px 0;
  text-align: center;
  line-height: 55px;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 2em;
}

.main__content .admin .admin__title__content .admin__text {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding-bottom: 36px;
}

.main__content .admin .admin__title__content .admin__content__chooseItem {
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .main__content .admin .admin__title__content {
    padding: 0 30px;
  }
  .main__content .admin .admin__title__content .admin__title,
  .main__content .admin .admin__title__content .admin__text {
    text-align: left;
  }
}

.main__content .admin__choosePage .admin__choosePage__editDatabase .admin__choosePage__editDatabase__title {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  padding-top: 36px;
}

.main__content .admin__choosePage .admin__choosePage__editDatabase .admin__choosePage__editDatabase__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
}

.main__content .admin__choosePage .admin__choosePage__editDatabase .admin__choosePage__editDatabase__item:hover {
  color: var(--subject-blue);
  background-color: var(--second-bottom-hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content .admin__monitor .admin__monitor__goodsTable .admin__monitor__goodsTable__titleTR .admin__monitor__goodsTable__titleTH,
.main__content .admin__note .admin__monitor__goodsTable .admin__monitor__goodsTable__titleTR .admin__monitor__goodsTable__titleTH {
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 18px;
}

.main__content .admin__monitor .admin__monitor__goodsTable .admin__monitor__goodsTable__titleTR .admin__monitor__goodsTable__titleTH-important,
.main__content .admin__note .admin__monitor__goodsTable .admin__monitor__goodsTable__titleTR .admin__monitor__goodsTable__titleTH-important {
  background-color: #faf88fa4;
}

.main__content .admin__monitor .admin__monitor__goodsTable .admin__monitor__goodsTable__itemTR,
.main__content .admin__note .admin__monitor__goodsTable .admin__monitor__goodsTable__itemTR {
  height: 40px;
}

.main__content .admin__monitor .admin__monitor__goodsTable .admin__monitor__goodsTable__itemTR .admin__monitor__goodsTable__itemTH,
.main__content .admin__note .admin__monitor__goodsTable .admin__monitor__goodsTable__itemTR .admin__monitor__goodsTable__itemTH {
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 20px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  border-bottom: 1px solid var(--main-between-line-color);
}

.main__content .admin__monitor .admin__monitor__goodsTable .admin__monitor__goodsTable__itemTR .admin__monitor__goodsTable__itemTH-important,
.main__content .admin__note .admin__monitor__goodsTable .admin__monitor__goodsTable__itemTR .admin__monitor__goodsTable__itemTH-important {
  background-color: #faf88fa4;
}

.main__content .admin__monitor .admin__monitor__title,
.main__content .admin__note .admin__monitor__title {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  padding-top: 36px;
  border-bottom: 1px solid var(--main-between-line-color);
  margin-bottom: 15px;
}

.main__content .admin__monitor .admin__monitor__subtitle,
.main__content .admin__note .admin__monitor__subtitle {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding-bottom: 36px;
}

.main__content .admin__monitor .admin__monitor__item,
.main__content .admin__note .admin__monitor__item {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  border-bottom: 1px solid var(--main-between-line-color);
}

.main__content .admin__monitor .admin__monitor__chooseItem,
.main__content .admin__note .admin__monitor__chooseItem {
  cursor: pointer;
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  border-bottom: 1px solid var(--main-between-line-color);
}

.main__content .admin__monitor .admin__monitor__chooseItem-red,
.main__content .admin__note .admin__monitor__chooseItem-red {
  background-color: #fa8f8fa4;
}

.main__content .admin__monitor .admin__monitor__chooseItem-green,
.main__content .admin__note .admin__monitor__chooseItem-green {
  background-color: #8ffa8fa4;
}

.main__content .admin__monitor .admin__monitor__chooseItem-orange,
.main__content .admin__note .admin__monitor__chooseItem-orange {
  background-color: #fab68fa4;
}

.main__content .admin__monitor .admin__monitor__chooseItem-yellow,
.main__content .admin__note .admin__monitor__chooseItem-yellow {
  background-color: #effa8fa4;
}

.main__content .admin__monitor .admin__monitor__chooseItem-lightYellow,
.main__content .admin__note .admin__monitor__chooseItem-lightYellow {
  background-color: #eff5bea4;
}

.main__content .admin__monitor .admin__monitor__chooseItem-gray,
.main__content .admin__note .admin__monitor__chooseItem-gray {
  background-color: #c2c2c2a4;
}

.main__content .admin__monitor .admin__monitor__chooseItem:hover,
.main__content .admin__note .admin__monitor__chooseItem:hover {
  color: var(--subject-blue);
  background-color: var(--second-bottom-hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content .admin__monitor .admin__monitor__chooseItem .spanText,
.main__content .admin__note .admin__monitor__chooseItem .spanText {
  color: #0000ff;
  font-weight: 400;
}

.main__content .admin__monitor .admin__monitor__goods,
.main__content .admin__note .admin__monitor__goods {
  background-color: #97c9e286;
  margin: 20px 0;
}

.main__content .admin__monitor .admin__monitor__block,
.main__content .admin__note .admin__monitor__block {
  background-color: #e2d79786;
  margin: 5px 0;
}

.admin__content .admin__content__title,
.admin__loginblock .admin__content__title {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  padding-bottom: 20px;
}

.admin__content .admin__login,
.admin__loginblock .admin__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.admin__content .admin__login .admin__login__title,
.admin__loginblock .admin__login .admin__login__title {
  display: block;
  width: 100%;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  padding-bottom: 36px;
}

.admin__content .admin__login #singUpRedirect,
.admin__loginblock .admin__login #singUpRedirect {
  cursor: pointer;
  display: block;
  border: 3px solid var(--main-between-line-color);
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding: 0 10px;
}

.admin__content .admin__login #singUpRedirect:hover,
.admin__loginblock .admin__login #singUpRedirect:hover {
  background-color: var(--primary-button-hover-bg-color);
}

.admin__content .admin__content__text,
.admin__loginblock .admin__content__text {
  display: block;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  padding-top: 36px;
  border-bottom: 1px solid var(--main-between-line-color);
}

.admin__content .admin__content__chooseItem,
.admin__loginblock .admin__content__chooseItem {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
}

.admin__content .admin__content__chooseItem:hover,
.admin__loginblock .admin__content__chooseItem:hover {
  color: var(--subject-blue);
  background-color: var(--second-bottom-hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 1024px) {
  .admin__content {
    display: none;
  }
}

.footer {
  background-color: var(--footer-bg-color);
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer__content__weblogo {
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.footer__content__weblogo__image {
  max-width: 100%;
  width: 387px;
  right: 0px;
}

.footer__content__weblogo .footer__content__weblogo__underText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  line-height: 25px;
  font-style: normal;
  font-weight: 300;
  color: var(--third-button-title-color);
  font-size: 15px;
}

.footer__content__box {
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  line-height: 25px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  color: var(--third-button-title-color);
  font-size: 15px;
  margin-left: 20px;
}

.footer__content__box__btn__text {
  display: inline;
  margin-right: 30px;
  color: var(--third-button-title-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__content__box__btn__text:hover {
  background-color: var(--second-button-hover-bg-color);
  color: var(--second-button-hover-color);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 411px) {
  .footer .footer__content {
    padding: 20px;
  }
  .footer .footer__content__text__adress,
  .footer .footer__content__links {
    font-size: 14px;
  }
  .footer .footer__content__box__copyright {
    font-size: 10px;
    text-align: center;
  }
}

.footer__content__text__adress {
  margin-bottom: 10px;
}

input {
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  border: 1px solid var(--main-between-line-color);
  border-radius: 3px;
  color: var(--title-color);
  font-size: 16px;
}

input:invalid {
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  border: 1px solid red;
  border-radius: 3px;
  color: var(--title-color);
  font-size: 16px;
}

.selection {
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  text-align: left;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
}

#buildingPopUpLayer {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000d8;
}

#buildingPopUpLayer .buildingPopUpLayer__container {
  display: block;
  width: 375px;
  height: 200px;
  overflow-y: auto;
  background-color: var(--popup-bg-color);
  padding: 20px 0;
}

#buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer__container__main {
  height: 86.5%;
}

#buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer__container__main .buildingPopUpLayer__container__main__title {
  text-align: center;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 25px;
  vertical-align: 0;
  padding: 20px 0;
}

#buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer__container__main .buildingPopUpLayer__container__main__content {
  height: 75px;
  text-align: center;
  font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: var(--title-color);
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 20px;
  vertical-align: 0;
  padding-bottom: 20px;
}

#buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 30px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

#buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:hover {
  opacity: 1;
}

#buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:before, #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #fff;
}

#buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=style.css.map */