@import "../color/color";
* {
  margin: 0;
  padding: 0;
}
@page {
  size: A4;
  margin: 0;
}
html {
  min-height: 100vh;
  -webkit-print-color-adjust: exact !important;
}

@media print {
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 100;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  .printPage {
    width: 21cm;
    height: 36.5cm;
    padding: 1cm 3.17cm;
    position: relative;
    border: 1px solid var(--border-bottom-color);
    .printPage__page__header {
      display: flex;
      align-items: center;
      .printPage__page__header__logo {
        width: 50%;
      }
      .printPage__page__header__title {
        width: 50%;
        height: 100%;
        justify-content: flex-end;
        display: flex;
        font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
        text-align: right;
        line-height: 30pt;
        font-style: normal;
        font-weight: 900;
        color: #002060;
        text-decoration: none;
        font-variant: normal;
        font-size: 28pt;
        text-align: left;
      }
    }
  }
  .printPage__page__content__basicInfo {
    display: flex;
    margin: 20pt 0;
    .printPage__page__content__basicInfo__customerInfo {
      display: flex;
      width: 65%;
      .customerInfo__table {
        display: flex;
        .customerInfo__table__tr {
          .customerInfo__table__th {
            text-align: left;
            font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體",
              sans-serif;
            text-align: center;
            line-height: 20pt;
            font-style: normal;
            font-weight: 300;
            color: var(--title-color);
            text-decoration: none;
            font-variant: normal;
            font-size: 11pt;
            text-align: left;
            padding: 0 11pt;
            width: 60pt;
            &-content {
              @extend .customerInfo__table__th;
              width: 270pt;
            }
            &-title {
              @extend .customerInfo__table__th;
              color: #fff;
              background-color: #002060;
            }
          }
        }
      }
    }
    .printPage__page__content__basicInfo__orderInfo {
      width: 35%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .orderInfo__table {
        border-collapse: collapse;
        display: flex;
        .orderInfo__table__tr {
          border: 1px solid black;
          .orderInfo__table__th {
            border: 1px solid black;
            text-align: left;
            font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體",
              sans-serif;
            text-align: center;
            line-height: 20pt;
            font-style: normal;
            font-weight: 300;
            color: var(--title-color);
            text-decoration: none;
            font-variant: normal;
            font-size: 11pt;
            text-align: left;
            padding: 0 11pt;
            &-content {
              @extend .orderInfo__table__th;
            }
          }
        }
      }
    }
  }
  .printPage__page__content {
    height: 73%;
    .printPage__page__content__orderTabel {
      width: 100%;
      border-collapse: collapse;
      .printPage__page__content__orderTabel__titleTR {
        border: 1px solid black;
        background-color: #5b9bd5;
      }
      .printPage__page__content__orderTabel__titleTH {
        border: 1px solid black;
        text-align: left;
        font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
        text-align: center;
        line-height: 25pt;
        font-style: normal;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        font-variant: normal;
        font-size: 12pt;
        &-name {
          @extend .printPage__page__content__orderTabel__titleTH;
          width: 60%;
        }
        &-price {
          @extend .printPage__page__content__orderTabel__titleTH;
          width: 12%;
        }
        &-count {
          @extend .printPage__page__content__orderTabel__titleTH;
          border-left: 3px solid black;
        }
      }
      .printPage__page__content__orderTabel__TR {
        border-left: 1px solid black;
        &-gray {
          background-color: #f1f1f1;
        }
      }
      .printPage__page__content__orderTabel__TH {
        border-left: 1px solid black;
        border-right: 1px solid black;
        text-align: left;
        font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
        text-align: center;
        line-height: 20pt;
        font-style: normal;
        font-weight: 300;
        color: #000;
        text-decoration: none;
        font-variant: normal;
        font-size: 12pt;
        &-count {
          @extend .printPage__page__content__orderTabel__TH;
          border-left: 3px solid black;
        }
      }
      .printPage__page__content__orderTabel__FooterTR {
        border-top: 1px solid black;
      }
      .printPage__page__content__orderTabel__FooterTH {
        &-totalPrice {
          border-bottom: 1px double black;
          font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
          text-align: center;
          line-height: 30pt;
          font-style: normal;
          font-weight: 300;
          color: #000;
          text-decoration: none;
          font-variant: normal;
          font-size: 13pt;
        }
      }
      .printPage__page__content__orderTabel__EndTR {
      }
      .printPage__page__content__orderTabel__EndTH {
        font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
        text-align: center;
        line-height: 30pt;
        font-style: normal;
        font-weight: 300;
        color: #000;
        text-decoration: none;
        font-variant: normal;
        font-size: 13pt;
      }
    }
  }
  .printPage__page__footer {
    align-items: flex-end;
    .printPage__page__footer__note {
      display: flex;
      text-align: left;
      font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
      text-align: center;
      line-height: 20pt;
      font-style: normal;
      font-weight: 300;
      color: var(--title-color);
      text-decoration: none;
      font-variant: normal;
      font-size: 10pt;
      text-align: left;
      &-title {
        width: 65pt;
      }
      &-content {
      }
    }
    .printPage__page__footer__socialMedia {
      display: flex;
      align-items: center;
      text-align: left;
      font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
      text-align: center;
      line-height: 20pt;
      font-style: normal;
      font-weight: 300;
      color: var(--title-color);
      text-decoration: none;
      font-variant: normal;
      font-size: 12pt;
      text-align: left;
      padding: 10pt 0;
    }
    .printPage__page__footer__endding {
      display: flex;
      justify-content: center;
      font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
      line-height: 20pt;
      font-style: normal;
      font-weight: 500;
      color: var(--title-color);
      text-decoration: none;
      font-variant: normal;
      font-size: 12pt;
      text-align: left;
      &-text {
        text-align: center;
        font-style: italic;
      }
    }
  }
}
.printPage__page {
  height: 100%;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: 100;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.printPage {
  width: 21cm;
  height: 36.5cm;
  padding: 1cm 3.17cm;
  position: relative;
  border: 1px solid var(--border-bottom-color);
  .printPage__page__header {
    display: flex;
    align-items: center;
    .printPage__page__header__logo {
      width: 50%;
    }
    .printPage__page__header__title {
      width: 50%;
      height: 100%;
      justify-content: flex-end;
      display: flex;
      font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
      text-align: right;
      line-height: 30pt;
      font-style: normal;
      font-weight: 900;
      color: #002060;
      text-decoration: none;
      font-variant: normal;
      font-size: 28pt;
      text-align: left;
    }
  }
}
.printPage__page__content__basicInfo {
  display: flex;
  margin: 20pt 0;
  .printPage__page__content__basicInfo__customerInfo {
    display: flex;
    width: 65%;
    .customerInfo__table {
      display: flex;
      .customerInfo__table__tr {
        .customerInfo__table__th {
          text-align: left;
          font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
          text-align: center;
          line-height: 20pt;
          font-style: normal;
          font-weight: 300;
          color: var(--title-color);
          text-decoration: none;
          font-variant: normal;
          font-size: 11pt;
          text-align: left;
          padding: 0 11pt;
          width: 60pt;
          &-content {
            @extend .customerInfo__table__th;
            width: 270pt;
          }
          &-title {
            @extend .customerInfo__table__th;
            color: #fff;
            background-color: #002060;
          }
        }
      }
    }
  }
  .printPage__page__content__basicInfo__orderInfo {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .orderInfo__table {
      border-collapse: collapse;
      display: flex;
      .orderInfo__table__tr {
        border: 1px solid black;
        .orderInfo__table__th {
          border: 1px solid black;
          text-align: left;
          font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
          text-align: center;
          line-height: 20pt;
          font-style: normal;
          font-weight: 300;
          color: var(--title-color);
          text-decoration: none;
          font-variant: normal;
          font-size: 11pt;
          text-align: left;
          padding: 0 11pt;
          &-content {
            @extend .orderInfo__table__th;
          }
        }
      }
    }
  }
}
.printPage__page__content {
  height: 73%;
  .printPage__page__content__orderTabel {
    width: 100%;
    border-collapse: collapse;
    .printPage__page__content__orderTabel__titleTR {
      border: 1px solid black;
      background-color: #5b9bd5;
    }
    .printPage__page__content__orderTabel__titleTH {
      border: 1px solid black;
      text-align: left;
      font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
      text-align: center;
      line-height: 25pt;
      font-style: normal;
      font-weight: 500;
      color: #fff;
      text-decoration: none;
      font-variant: normal;
      font-size: 12pt;
      &-name {
        @extend .printPage__page__content__orderTabel__titleTH;
        width: 60%;
      }
      &-price {
        @extend .printPage__page__content__orderTabel__titleTH;
        width: 12%;
      }
      &-count {
        @extend .printPage__page__content__orderTabel__titleTH;
        border-left: 3px solid black;
      }
    }
    .printPage__page__content__orderTabel__TR {
      border-left: 1px solid black;
      &-gray {
        background-color: #f1f1f1;
      }
    }
    .printPage__page__content__orderTabel__TH {
      border-left: 1px solid black;
      border-right: 1px solid black;
      text-align: left;
      font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
      text-align: center;
      line-height: 20pt;
      font-style: normal;
      font-weight: 300;
      color: #000;
      text-decoration: none;
      font-variant: normal;
      font-size: 12pt;
      &-count {
        @extend .printPage__page__content__orderTabel__TH;
        border-left: 3px solid black;
      }
    }
    .printPage__page__content__orderTabel__FooterTR {
      border-top: 1px solid black;
    }
    .printPage__page__content__orderTabel__FooterTH {
      &-totalPrice {
        border-bottom: 1px double black;
        font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
        text-align: center;
        line-height: 30pt;
        font-style: normal;
        font-weight: 300;
        color: #000;
        text-decoration: none;
        font-variant: normal;
        font-size: 13pt;
      }
    }
    .printPage__page__content__orderTabel__EndTR {
    }
    .printPage__page__content__orderTabel__EndTH {
      font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
      text-align: center;
      line-height: 30pt;
      font-style: normal;
      font-weight: 300;
      color: #000;
      text-decoration: none;
      font-variant: normal;
      font-size: 13pt;
    }
  }
}
.printPage__page__footer {
  align-items: flex-end;
  .printPage__page__footer__note {
    display: flex;
    text-align: left;
    font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
    text-align: center;
    line-height: 20pt;
    font-style: normal;
    font-weight: 300;
    color: var(--title-color);
    text-decoration: none;
    font-variant: normal;
    font-size: 10pt;
    text-align: left;
    &-title {
      width: 65pt;
    }
    &-content {
    }
  }
  .printPage__page__footer__socialMedia {
    display: flex;
    align-items: center;
    text-align: left;
    font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
    text-align: center;
    line-height: 20pt;
    font-style: normal;
    font-weight: 300;
    color: var(--title-color);
    text-decoration: none;
    font-variant: normal;
    font-size: 12pt;
    text-align: left;
    padding: 10pt 0;
  }
  .printPage__page__footer__endding {
    display: flex;
    justify-content: center;
    font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
    line-height: 20pt;
    font-style: normal;
    font-weight: 500;
    color: var(--title-color);
    text-decoration: none;
    font-variant: normal;
    font-size: 12pt;
    text-align: left;
    &-text {
      text-align: center;
      font-style: italic;
    }
  }
}
